body{
}
#here{
  display: flex;
  flex-direction: column;  
  width: 100%;
  height: 100%;
  
 
}
.buttonWrapper{
  grid-area: button;
  text-align: center;
}
.option{
  display: flex;
  width: 100%;
}
.radioS{  
justify-content: flex-start;
font-size: 50px;
}

.matter{
  align-self: center;
  margin-right: 30px;
  grid-area: form;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px; /* 5px rounded corners */
}
.matter:hover{  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.stepper{
  grid-area: header;
  padding-right: 50px
}
.outer{
  display: grid;
  /*
  grid-template-areas: "header header header header header"
                        ". . . . ."
                        ". form form form ."
                        ". form form form .";
  grid-template-columns: 20% 20% 20% 20% 20% ;
  grid-template-rows:  25% 25% 25% 25%; */
  grid-template-areas: "header header header "
  ". . . "
  ". form  ."
  ". form  .";
grid-template-columns: 10% 80% 10% ;
grid-template-rows:  20% 10% 50% 20%;
  grid-gap: 10px;
  padding: 2px 16px;
  width: 100%;
  height: 100%;;
  
}

#title01{
  font-size: 20px
}

