body{
  font-family: Verdana !important ;
}
#here{
  display: flex;
  flex-direction: column;  
  width: 100%;
  height: 100%;
  
 
}
.buttonWrapper{
}
.option{
  display: flex;
  width: 100%;
}
.radioS{  
justify-content: flex-start;
font-size: 50px;
}

.matter{
  align-self: center;
  margin-right: 30px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
    flex-direction: column;
}

.stepper{
  padding-right: 50px
}
.outer{
  display: grid;   
  padding: 2px 16px;
  width: 100%;
  height: 100%;
  
}

#title01{
  font-size: 20px
}

.ageContainer{
  display: flex;
  padding: 20px;
}

